*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     list-style: none;
    text-decoration: none !important;
}
body{
    background-color: #615f5f !important; 
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    transition: all ease .45s;
    background: transparent;
    padding: 32px 15%;
}
.logo{
    color: #ffffff !important;
    font-size: 41px;
    font-weight: 600;
}
.logo span{
    color: #ffa500;
}
.navbar{
    display: flex;
}
.navbar a{
    font-weight: 500;
    color: #fff !important;
    margin: 0 25px;
    transition: all ease .50s;
}
.navbar a.active{
    color: #ffa500  !important;
}
.navbar a:hover{
    color: #ffa500 !important;
}
.menu-btn{
    background: linear-gradient(130.08deg,#383528 0%, #191919 100%);
    cursor: pointer;
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    padding: 10px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
}
.menu-btn span{
    color: #ffffff;
}
#menu-icon{
    font-size: 28px !important;
    margin-left: 10px !important;
    z-index: 6 !important;
    color: #ffffff !important;
}


.continer{
    background-color: #09afaf;
    padding: 23px 286px !important;
    position: absolute;
    top: 155px;
    border-radius: 74px !important;
    right: 215px;
}

.input-continer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #ffff;
    padding: 10px;
    border-radius: 10px;
}
.input-continer label{
    margin-bottom: 10px;
}
.input-continer input  {
    padding: 10px;
    border: none;
    border-radius: 10px;
}
@media (max-width:1370px){
    header{
        padding: 15px 8%;
        transition: .2s;
    }
    .continer{
        padding: 23px 300px !important;
        right: 45px !important;
    }
}

@media (max-width:1020px){
    .navbar a{
        margin: 0 15px;
    }
    .continer{
        padding: 23px 190px !important;
        right: 33px !important;
    }
}
@media (max-width:950px){
    header{
        padding: 11px 4%;
        background: #2d2d2d;
    }
    .continer{
        padding: 23px 190px !important;
        right: 33px !important;
    }

}
@media (max-width:850px){
    .navbar {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 50px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100;
        display: flex;
        flex-direction: column;
        background: #2d2d2d;
        transition: all 0.4s ease-in-out;
    }
    .navbar a{
        display: block;
        color: #c3c3c3;
        padding: 0px;
        margin: 0px 0px 40px 0px;
        font-size: 2rem;
        font-weight: 400;
    }
    .navbar.open{
        left: 0;
    }
    .continer{
        padding: 23px 200px !important;
        right: 14px !important;
    }
}
@media (max-width:500px){
    .btn{
        padding: 9px 28px;
    }
}